// Core variables and mixins
@import "variables.less";
@import "../../cbootf/bootstrap/less/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid-framework.less";

/******************************
 * Format the contents of views
 */
.view-header {
  /*
   * Undo the Rhythm settings
   */
  margin-bottom: initial;
  float: none;
}

.view-content {
  margin-bottom: 2*1.3em;

  .views-field {
    /*
     * Generic field formatting
     */
    margin-bottom: 1.3em;

    &:last-child {
      margin-bottom: 2*1.3em;
    }
  }

  .views-field-title {
    /*
     * Generic title formatting
     */
    font-family: Dosis, arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1.3em;
    line-height: 1.4;
    font-weight: 400;
  }

  .owl-carousel {
    /*
     * An OWL Carousel in a view
     */
    padding:  4*1.3em 0;

    .views-field-field-in-activity,
    .views-field-city {
      font-weight: bold;
    }
  }
}

.bg-gray-view-content {
  .view-content {
    /*
     * .bg-gray-view-content applies .bg-gray to .view-content only
     */
    background-color: #f4f4f4;
  }
}

.more-link a::after {
  content: "\00BB"; // &raquo;
}

/*********************************
 * Fix anomalies which might occur
 */
.container .container {
  /*
   * Bootstrap containers are not designed to be nested
   */
  width: auto;
  padding-right: initial;
  padding-left: initial;
}