// Core variables and mixins
@import "variables.less";
@import "../../cbootf/bootstrap/less/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid-framework.less";

/******************************
 * Format the contents of views
 */
.view-content {

  /*
   * Undo the Rhythm settings
   */
  .views-field {
    /*
     * Generic field formatting
     */
    margin-bottom: 1.3em;
  }

  .views-field-title {
    /*
     * Generic title formatting
     */
    font-family: Dosis, arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1.3em;
    line-height: 1.4;
    font-weight: 400;
  }

  .owl-carousel {
    /*
     * An OWL Carousel in a view
     */
    padding:  4*1.3em 0;

    .views-field-field-in-activity,
    .views-field-city {
      font-weight: bold;
    }
  }
}
