// Core variables and mixins
@import "variables.less";
@import "../../cbootf/bootstrap/less/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid.less";
@import "../../cbootf/bootstrap/less/mixins/grid-framework.less";
@import "../../cbootf/bootstrap/less/responsive-embed.less";
@import "mixins.less";

/*****************
 * Font formatting
 */
body.html {
  font-family: 'Rubik', arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: @slate;

  a {
    font-family: 'Rubik', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  strong {
    font-weight: 400;
  }

  .font-alt,
  form ul.token-input-list,
  div.token-input-dropdown {
    font-family: 'Rubik', arial, sans-serif;
  }

  .section-text,
  blockquote {
    color: @slate;
  }
}

/**********************************************
 * Overcome Bootstrap formatting of h1, .h1 etc
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300 !important;
}

/***********************
 * Format the Navigation
 */
.main-nav {
  .nav-logo-wrap .logo {
    /*
     * This width gives a reasonable sized logo image and allows enough
     * room for the logo replacement text
     */
    max-width: 210px;
    /*
     * Centre the logo image vertically in the .main-nav
     */
    line-height: 1em;

    /*
     * Size the logo image
     */
    object[type="image/svg+xml"],
    img {
      width: 140px;
    }
  }

  .inner-nav {
    ul.clearlist ul.default-menu {
      /*
       * Float the menu to the left of the Search bar
       */
      float: left;

      li {
        /*
         * Set the menu text at the same level as Search bar text
         */
        height: 75px;
        line-height: 75px;
        -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      }
    }
  }
}

.main-nav.mobile-on {
  .inner-nav {
    ul.clearlist ul.default-menu {
      /*
       * Unfloat the menu when the mobile menu is showing
       */
      float: none;

      li {
        /*
         * Set the menu text at the same level as Search bar text
         */
        height: initial;
        line-height: initial;
      }
    }
  }
}

.main-nav.small-height {
  .inner-nav {
    ul.clearlist ul.default-menu {
      li {
        /*
         * Set the menu text at the same level as Search bar text
         * when the small-height menu is showing
         */
        height: 55px;
        line-height: 55px;
        -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      }
    }
  }
}

/*************************
 * Format the Title header
 */
.bg-dark-alfa-50 {
  text-shadow: 0 0 40px @city-blue-60;

  &::before {
    /*
     * When displayed over a white background, this background colour gives the theme's
     * 'City blue 60%' which is rgb(164, 215, 239)
     */
    background: rgba(104, 189, 228, 0.6);
  }
}

/*************************
 * Format SVG images
 */
object[type="image/svg+xml"] {
  pointer-events: none;
}

/*************************************************************
 * Embedded videos are responsive and have a 16:9 aspect ratio
 */

div.video-filter {
  .embed-responsive;
  .embed-responsive-16by9;

  clear: both;
}

/*********************************
 * Format the .episode-content-tab
 */
.episode-content-tab {
  .make-row();

  .episode-pills {
    .make-md-column(5);
    .make-md-column-push(7);
    .make-lg-column(4);
    .make-lg-column-push(8);

    padding-top: 0;
    padding-bottom: 0;
    border-bottom-width: 1px;
  }

  .tab-content{
    .make-md-column(7);
    .make-md-column-pull(5);
    .make-lg-column-pull(4);

    padding-top: 0;
    padding-bottom: 0px;
  }

  @media (min-width: @screen-md-min) {
    .nav-pills {
      border-bottom-width: 0px;

      > li {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }

  h3 {
    text-transform: uppercase;
  }

  h3,
  ul,
  .field {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }

  .field-name-field-attachment,
  .field-name-field-content .jp-playlist {
    .field-item + .field-item,
    li {
      margin-top: @line-height-computed;
    }

    i,
    svg.svg-inline--fa {
      font-size: 42px;
      margin-right: 10px;
    }
  }

  @font-size-jplayer-button-large: floor(@font-size-base * 3);
  @font-size-jplayer-button-small: floor(@font-size-base * 1.5);
  @gray-jplayer-color:             @slate;
  @gray-jplayer-background:        @slate-40;

  div.jp-audio {
    width: auto;
    color: @gray-jplayer-color;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    div.jp-type-playlist {
      div.jp-interface {
        .make-row();

        height: 80px;
      }

      div.jp-playlist {
        .make-row();

        a.jp-playlist-current {
          color: @gray-jplayer-color;
        }

        a.jp-playlist-current:hover,
        a.jp-playlist-current:focus {
          color: @gray-jplayer-color;
          text-decoration: underline;
        }

        li {
          padding: 0;
          border-bottom: none;
        }

        li.jp-playlist-current {
          list-style-type: none;
          padding-left: 0;
        }

        li.jp-playlist-last {
          padding-left: 0;
        }
      }

      a.jp-play,
      a.jp-pause {
        .make-xs-column(3);
        .make-480-column(2);
        .make-sm-column(1);
        .make-lg-column(1);

        top: 0;
        left: unset;
      }

      div.jp-progress {
        .make-xs-column(9);
        .make-480-column(5);
        .make-480-column-pull(2);
        .make-sm-column(7);
        .make-sm-column-pull(1);
        .make-lg-column(8);
        .make-lg-column-pull(1);

        padding-left: 0;
        padding-right: 0;
        border-width: 0 floor(@grid-gutter-width/2);
        border-style: solid;
        border-color: white;

        top: 27px;
        left: unset;
        height: 15px;
        position: relative;
        overflow: hidden;
      }

      div.jp-current-time,
      div.jp-duration {
        top: 0;
        left: unset;
        position: relative;
        font-style: oblique;
      }

      div.jp-current-time {
        .make-xs-column(5);
        .make-xs-column-push(3);
        .make-480-column(3);
        .make-480-column-push(2);
        .make-sm-column(4);
        .make-sm-column-push(1);
        clear: both;
      }

      div.jp-duration {
        .make-xs-column(4);
        .make-xs-column-push(3);
        .make-480-column(2);
        .make-480-column-push(2);
        .make-sm-column(3);
        .make-sm-column-push(1);
        .make-lg-column(4);
        .make-lg-column-push(1);
        text-align: right;
      }

      a.jp-mute,
      a.jp-unmute {
        .make-480-column(2);
        .make-480-column-push(5);
        .make-sm-column(1);
        .make-sm-column-push(7);
        .make-lg-column(1);
        .make-lg-column-push(8);

        top: 17px;
        height: auto;
      }

      div.jp-volume-bar {
        .make-480-column(3);
        .make-sm-column(3);
        .make-lg-column(2);

        padding-left: 0;
        padding-right: 0;
        border-width: 0 floor(@grid-gutter-width/2);
        border-style: solid;
        border-color: white;

        top: 32px;
        left: unset;
        height: 5px;
        position: relative;
        overflow: hidden;
      }
    }
  }

  div.jp-interface {
    background-color: inherit;
    border: 0;
    position: relative;
    width: unset;

    ul.jp-controls {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
      }

      a {
        color: @gray-jplayer-color;
        background-image: none;
        text-indent: 0;
        position: relative;
        overflow: inherit;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }
    }
  }

  div.jp-playlist {
    background-color: inherit;
    border-width: 0;
    width: unset;

    ul,
    div.jp-playlist-comment {
      .make-xs-column(12);

      font-size: 1em;
      list-style-type: none;
    }
  }

  div.jp-play-bar,
  div.jp-volume-bar-value {
    background: @gray-jplayer-color;
  }

  div.jp-seek-bar,
  div.jp-volume-bar {
    background: @gray-jplayer-background;
    cursor: pointer;
  }

  div.jp-seek-bar {
    height: 100%;
  }

  div.jp-volume-bar-value {
    height: 5px;
  }

  div.jp-current-time,
  div.jp-duration {
    font-size: 1em;
  }

  a.jp-next,
  a.jp-previous,
  a.jp-stop {
    display: none;
  }

  div.jp-volume-bar {
    // Mobile:
      visibility: hidden;
      display: none !important;
    @media (min-width: @screen-xs-min) {
      visibility: visible;
      display: block !important;
    }
  }

  a.jp-mute,
  a.jp-unmute {
    // Mobile:
      visibility: hidden;
      display: none;
    @media (min-width: @screen-xs-min) {
      visibility: visible;
      display: inline;
    }
  }

  a.jp-play,
  a.jp-pause {
    font-size: @font-size-jplayer-button-large;
  }

  a.jp-mute,
  a.jp-unmute {
    font-size: @font-size-jplayer-button-small;
    text-align: right;
  }

  .episode-tags {
    .field {
      display: inline;

      &:first-child::before {
        content: 'Tags:\00a0';
        white-space: pre;
      }

      &:not(first-child)::before {
        content: ',\00a0';
        white-space: pre;
      }
    }
  }
}

/******************************
 * Format the contents of views
 */
.view-header {
  /*
   * Undo the Rhythm settings
   */
  margin-bottom: initial;
  float: none;
}

.view-header-and-more {
 /*
  * Put 140px margin above the .view-header-and-more row
  * and 60px below to match Janelle's spec.
  */
  margin-top: 140px;
  margin-bottom: 60px;
}

.view-filters {
  /*
   * Undo the Rhythm defaults for .view-filters
   */
  float: none;
  /* margin-top: 0; Overridden below.*/

  /*
   * Undo the margin-bottom of .view-header-and-more using a
   * margin-top and add another margin-bottom. 
   */
  margin-top: -60px;
  margin-bottom: 60px;
  &:first-child {
    margin-top: 140px;
  }

  /*
   * Undo the Rhythm defaults for .view-filters .views-exposed-form .views-exposed-widget
   */
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0;

    /*
     * If using Better Exposed Forms to format filters as links, then use the Bootstrap grid
     */
    .bef-select-as-links {
      .container;

      > .form-item {
        .make-row();

        > .form-type-bef-link {
          .make-xs-column(6);
          .make-480-column(4);
          .make-sm-column(3);
          .make-lg-column(1);

          /*
           * Simulate a h5
           */
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: 10px;
          margin-bottom: 1.3em;
          line-height: 1.4;

          a {
            font-weight: 400;
          }

          &.form-item-edit-field-office-tid-all {
            /*
             * Don't display the All/Any option for the Office taxonomy
             */
            display: none;

            + .form-type-bef-link {
              /*
               * On large displays, centre the 8 Offices by adding 2 columns to the grid
               */
              .make-lg-column-offset(2);
            }
          }

          &.form-item-edit-taxonomy-vocabulary-1-tid-all {
            /*
             * On large displays, centre the Ministry Centres by adding 2 columns to
             * the grid (so 2 + 1 (All) + 7 (Cities) + 2 = 12)
             */
            .make-lg-column-offset(2);
          }
        }
      }
    }
  }
}

.view-content {
  margin-bottom: 2*1.3em;

  .views-field {
    /*
     * Generic field formatting
     */
    margin-bottom: 1.3em;

    &:last-child {
      margin-bottom: 2*1.3em;
    }
  }

  .views-field-title,
  .views-field-field-title,
  .views-field-name {
    /*
     * Generic title formatting
     */
    .font-alt();
    font-size: 24px;
    margin-bottom: 1.3em;
    line-height: 1.4;
  }

  .views-field-field-resource-type {
    /*
     * Format .views-field-field-resource-type as twice
     * the standard font size, hence no bottom margin,
     * and float right.
     */
    float: right;
    margin-bottom: 0;
    font-size: 28px;
  }

  .owl-carousel {

    .views-field-field-in-activity,
    .views-field-city {
      /*
       * The In Activity and City fields are bold in an OWL Carousel
       */
      font-weight: 500;
    }

//    .owl-controls {
//      width: 100vw;
//      position: absolute;
//      left: calc(~"(100% - 100vw)/2");
//      top: 50%;
//    }

//    .owl-buttons {
//      position: relative;
//    }

    .owl-prev,
    .owl-next {
//      opacity: 1;

      &:before {
        /*
         * The Previous and Next buttons on the OWL carousel are a mid grey
         */
        background-color: #ccc;
      }
    }

//    .owl-prev {
//      left: 0;
//    }

//    .owl-right {
//      right: 0;
//    }

    .owl-item {
      .views-field-field-title-image,
      .views-field-field-highlight {
        /*
         * Apply the pattern for Bootstrap's .embed-responsive-16by9 class
         * to make the image in the proportion 653x368 which is the Rhythm
         * theme's large portfolio image format. Make the background of the
         * .field-content the same as .bg-gray.
         */
        position: relative;
        display: block;
        height: 0;
        padding: 0 0 56.36%;
        overflow: hidden;

        .field-content {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: #f4f4f4;

          img {
            display: block;
            width: auto;
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.views-bootstrap-grid-plugin-style,
.item-carousel-4-view {
  .views-field-title,
  .views-field-field-title {
    /*
     * Reduce the size of titles in views which display multiple items
     */
    font-size: 16px;
  }
}

.bg-gray-view-content {
  .view-content {
    /*
     * .bg-gray-view-content applies .bg-gray to .view-content only
     * and adds vertical padding
     */
    background-color: #f4f4f4;
    padding: 4*1.3em 0;
  }
}

.container-view-content {
  .view-content {
    /*
     * .container-view-content makes enclosed .view-content
     * into a container. The container class is applied to
     * the DIV inside the .view-content so that the
     * .bg-gray-view-content styling is not .container-ed.
     */
    .views-bootstrap-grid-plugin-style {
      .container;
    }
  }
}

.more-link {
  a {
    /*
     * Format a ".more-link a" in the same way as a .section-more
     */
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }

  a::after {
    content: "\203A"; // &rsaquo;
  }
}

.h4 {
  .more-link a,
  .section-more {
    /*
     * Pad the top of a '.more-link a' and a '.section-more' by 7px
     * when inside a .h4. This aligns the bottom of the 'more' link
     * and the h4 next to it (18px h4 - 11px link = 7px)
     */
    padding-top: 7px;
  }
}

/*
 * An .office-view uses the grid system to lay out the phone, addresses
 * and email fields.
 */
.office-view {
  .view-content {
    .container;
  }

  .views-row {
    .make-row();

    .views-field {
      .make-xs-column(4);
      .make-md-column(2);

      word-break: break-word;

      &.view-icon {
        .make-xs-column(2);
        .make-md-column(1);

        font-size: 42px;
        line-height: 1.3em;
        text-align: center;
        margin-bottom: 0;
        color: @city-blue;
      }

      .views-label {
        .font-alt();

        display: block;
      }
    }
  }

  .view-footer {
    clear: both;
  }
}

.item-carousel-4-view {
  .slide-wrapper {
    .make-row();
  }

  .owl-item {
    .make-xs-column(12);
    .make-480-column(6);
    .make-sm-column(4);
    .make-lg-column(3);
  }
}

.map-canvas-view,
.map-canvas-view-multiple .view-content {
  /*
   * A .map-canvas-view is formatted in the same way as
   * Rhythm formats the #map-canvas element.
   * Ditto for .map-canvas-view-multiple
   */
  height: 410px;
  position: relative;
  background-color: #111 !important;
  z-index: 1;
}

/*
 * Here is a pattern for creating an image that is overlaid
 * with other content when hovered over or touched. This is
 * copied from Rhythm's .team-item.
 */
.views-field.image-plus-hover-overlay {
  .field-content {
    position: relative;
    overflow: hidden;

    .overlaid-image {
      img{
        width: 100%;
      }

      &:after{
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        z-index: 1;

        -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      }
    }

    .image-overlay {
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 20px 23px 55px;
      font-size: 14px;
      font-weight: 300;
      color: #777;
      text-align: center;
      z-index: 2;

      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
  }
}

/*
 * When hovering over an element on a desktop ...
 */
.no-mobile {
  .image-plus-hover-overlay:hover {
    /*
     * When hovering over an image-plus-hover-overlay the overlaid-image:after
     * is made pale, and the image-overlay appears.
     */
    .overlaid-image:after {
      background: rgba(255,255,255, .93);
    }

    .image-overlay {
      opacity: 1;
    }
  }
}

/*
 * When touched on a mobile ...
 */
.image-plus-hover-overlay.js-active {
  /*
   * When an image-plus-hover-overlay is touched on a mobile
   * the overlaid-image:after is made pale, and the image-overlay appears.
   */
  .overlaid-image:after {
    background: rgba(255,255,255, .93);
  }

  .image-overlay {
    opacity: 1;
  }
}

/*
 * Here is a pattern for creating an image that is permanently
 * overlaid with other content.
 */
.views-field.image-plus-fixed-overlay {
  .field-content {
    position: relative;
    overflow: hidden;

    .overlaid-image {
      img{
        width: 100%;
      }

      &:after{
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255, .75);
        z-index: 1;
      }
    }

    .image-overlay {
      opacity: 1;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 20px 23px;
      font-size: 14px;
      font-weight: 300;
      color: #777;
      text-align: center;
      z-index: 2;
      pointer-events: none;

      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

.portrait-image-placeholder {
  position: relative;
  padding-bottom: 100%*438/360;
  background-color: @slate-60;
  text-align: center;

  .i,
  .svg-inline--fa {
    position: absolute;
    top: 5%;
    max-width: 90%;
    left: (100%-90%)/2;
    color: @slate-20;
    font-size: 280px;
  }
}

.view.venue {

  text-transform: uppercase;
  font-weight: 500;

  .view-content {
    margin-bottom: 0;
  }

  .views-field {
    .make-row();

    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;

      .field-content {
        padding-bottom: 1.6em;
      }
    }
  }

  .views-label {
    .make-xs-column(3);
    .make-480-column(4);
    .make-sm-column(3);

    border-top: 1px solid #888;
  }

  .field-content {
    .make-xs-column(9);
    .make-480-column(8);
    .make-sm-column(9);

    border-top: 1px solid #888;
  }

  .view.event-price {

    .views-row,
    h3 {
      .make-row();
    }

    .views-field {
      .unmake-row();
      .make-xs-column(7);
      .make-sm-column(8);
      .make-md-column(7);
      .make-lg-column(8);

      padding-right: 3px;

      &.views-field-amount {
        .make-xs-column(5);
        .make-sm-column(4);
        .make-md-column(5);
        .make-lg-column(4);

        padding-left: 3px;

        text-align: right;
      }

      &:last-child {

        .field-content {
          padding-bottom: 0;
        }
      }
    }

    .views-label {
      .unmake-column();

      border-top: 0;
    }

    .field-content {
      .unmake-column();

      border-top: 0;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: @font-size-base;
      line-height: @line-height-base;

      .Radio,
      .CheckBox,
      .Text {
        display: none;
      }

      .Select {
        .make-xs-column(12);

        padding-top: @line-height-computed;
      }
    }

    h3:first-child {
	  .Select {
        padding-top: 0;
      }
    }
  }
}

.view.view-cbf2019-event-registration {
  .views-row {
    .make-row();

    .views-field {
      .make-480-column(6);
      .make-480-column-offset(6);
      .make-md-column(4);
      .make-md-column-offset(8);
    }
  }
}

.view.view-cbf2019-recent-library {
  .view-filters .views-exposed-form {
	.views-exposed-widgets {
      .make-row();

      .views-exposed-widget {
        .make-xs-column(12);
        .make-480-column(6);
        .make-sm-column(4);
        .make-md-column(3);
        .make-lg-column(2);

        &.views-widget-filter-title {
          .make-480-column(12);
          .make-sm-column(12);
          .make-md-column(12);
          .make-lg-column(12);
        }

        &.views-submit-button {
          .make-md-column-offset(6);
          .make-lg-column-offset(0);

          input {
            // Set top margin to height of LABEL element other widgets have
            margin-top: @line-height-computed + 5px;
            width: 100%;
          }
        }
      }
    }
  }
}

/*
 * Set up the pager to switch the previous/next buttons.
 * The .pager-current is hidden for aesthetic reasons.
 */
.view.right-to-left {
  .item-list {
    .container();

    .pager {
      .make-row();

      .pager-previous {
        .make-xs-column(4);
        .make-xs-column-push(8);

        text-align: right;
      }

      .pager-current {
        .make-xs-column(4);

        visibility: hidden;
      }

      .pager-next {
        .make-xs-column(4);
        .make-xs-column-pull(8);

        text-align: left;
      }
    }
  }
}


/******************************
 * Format various content types
 */
.node-type-activity,
.page-civicrm-event {
  .region-content {
    .make-row();

    .block-views {
      .make-xs-column(12);
    }

    .block-views:first-child {
      .make-480-column(6);
      .make-md-column(4);
    }

    .block-system {
      .make-xs-column(12);

      column-count: 1;
      column-gap: @grid-gutter-width;

      @media (min-width: @screen-sm-min) {
        column-count: 2;
      }

      @media (min-width: @screen-md-min) {
        column-count: 3;
      }
    }

    .block-views + .block-system {
      .make-480-column(6);
      .make-md-column(8);

      @media (min-width: @screen-sm-min) {
        column-count: 1;
      }

      @media (min-width: @screen-md-min) {
        column-count: 2;
      }
    }

    .block-views:first-child + .block-views {
      .make-480-column(6);
      .make-md-column(4);
      .make-md-column-push(4);
    }

    .block-views + .block-views + .block-system {
      .make-480-column(12);
      .make-md-column(4);
      .make-md-column-pull(4);

      @media (min-width: @screen-sm-min) {
        column-count: 2;
      }

      @media (min-width: @screen-md-min) {
        column-count: 1;
      }
    }
  }
}

/*******************************
 * Format field_details in views
 */
.views-field-field-details {
  .tablefield {
    width: 100%;

    caption {
      padding-bottom: 1em;
      text-align: center;
    }

    th, td {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*********************************
 * Fix anomalies which might occur
 */
.container {
  .container,
  .container-view-content .view-content .views-bootstrap-grid-plugin-style,
  .office-view .view-content,
  .view-filters .views-exposed-form .views-exposed-widget .bef-select-as-links,
  .view.right-to-left .item-list {
    /*
     * Bootstrap containers are not designed to be nested
     */
    width: auto;
    padding-right: initial;
    padding-left: initial;
  }
}
