.font-alt(@font-weight: 400) {
  font-family: Dosis, arial, sans-serif;
  font-weight: @font-weight;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  a {
    font-family: Dosis, arial, sans-serif;
    font-weight: @font-weight;
  }
}
